<% content_for :dc_head do %>
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 73 ) %> <%= t("dc.sidebars.headline").downcase %></h1>
	</div>
	<div class="fl_box_470 rtext">
		<select id="header_chooser">
			<% Sidebar.all.each do |side| %>
				<option value="<%= side.id %>"><%= side.name %></option>
			<% end %>
		</select>
	</div>
<% end %>

<div class="dc_box">
	
	<div class="dc_wbox head">
		<h2>alle</h2>
		<div class="clearfix"></div>
	</div>
	<div class="dc_wbox form">
		
		
		<div class="clearfix"></div>
	</div>
	


</div>




<%= render 'dc/sidebars/sidebar' %>

