<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="de"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="de"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="de"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
<head>
	<%= render "shared/site_parts/meta" %>
	<%= render "shared/site_parts/csrf" %>
	
	<%#= stylesheet_link_tag    "/dc/dynamic_styles" %>
	<%= stylesheet_link_tag    "/pipe/styles/dc/libs" %>
	
	<%= piped_js_lib('modernizr206') %>
	
	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js' %>
	<script>window.jQuery || document.write('<script src="/pipe/script/library/jquery"><\/script>')</script>
	
	<%= piped_js_lib('view', 'ujs') %>
	
	<%= yield(:head) %>
	<style>
		html { overflow-y: scroll; }
	</style>
</head>
<body class="blank_body">
<%# '<div id="blank_content">' %>
	<div id="login_box">
		<%= yield %>
	</div>
<%# '</div>' %>
<%= render "shared/site_parts/analytics" %>
<%= render "shared/site_parts/chromeframe" %>
</body>
</html>
