<% content_for :dc_head do %>
	
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 49 ) %> core - einstellungen :: bearbeiten</h1>
	</div>
	
	<div class="fl_box_470">
		
	</div>
	
	
<% end %>
		
<div style="margin: 20px 20%">
<%= form_tag(dc_setting_path(@name), :method => :put) do -%>
	<%= hidden_field_tag('name', @name, :size => 50 ) %>
	
	<h2>Core - Preferences</h2>
	<br/>
	
	<table style="width: 100%">
		<tr>
			<th>Seitenname:</th>
			<td> </td>
			<th>
				<%#= text_field_tag("preferences[site_name]", DC::Config[ :site_name ], :size => 50 )%>
				<%= dc_pref_text_field( 'site_name' ) %>
			</th>
		</tr>
		<tr>
			<th>dc_background</th>
			<td> </td>
			<th>
				<%= dc_pref_select_tag( 'dc_background', CoreConfiguration::DC_BACKGROUNDS.map {|c| [c,c]} ) %>
			</th>
		</tr>
		<tr>
			<th>compress_stylez:</th>
			<td> </td>
			<th><%= dc_pref_bool_tag( 'compress_stylez' ) %></th>
		</tr>
		<tr>
			<th>compress_scriptz</th>
			<td> </td>
			<th><%= dc_pref_bool_tag( 'compress_scriptz' ) %></th>
		</tr>
		<tr>
			<th>theme</th>
			<td> </td>
			<th>
				<%#= select_tag 'preferences[theme]', options_for_select(DcThemesStatic.available_theme_names.map {|c| [c,c]}, DC::Config[:theme]) %>
				<%= dc_pref_select_tag( 'theme', DcThemesStatic.available_theme_names.map {|c| [c,c]} ) %>
			</th>
		</tr>
		<tr>
			<th>theme_type</th>
			<td> </td>
			<% av_theme_types = ['static','dynamic']%>
			<th>
				<%= dc_pref_select_tag( 'theme_type', ['static','dynamic'].map {|c| [c,c]} ) %>
			</th>
		</tr>
		<tr>
			<th>pretty_namespace</th>
			<td> </td>
			<th><%= text_field_tag("preferences[pretty_namespace]", DC::Config[:pretty_namespace], :size => 50 )%></th>
		</tr>
	</table>
	
	<br/>
	<%= submit_tag %>
	<br/><br/>
	<table style="width: 100%">
		<tr>
			<th>cache_method:</th>
			<td> </td>
			<th><%= select_tag 'preferences[cache_method]', options_for_select(CoreConfiguration::CACHE_TYPES.map {|c| [c,c]}, DC::Config[:cache_method]) %></th>
		</tr>
		<tr>
			<th>cache_statics:</th>
			<td> </td>
			<th><%= dc_pref_bool_tag( 'cache_statics' ) %></th>
		</tr>
		<tr>
			<th>etags_enabled:</th>
			<td> </td>
			<th><%= dc_pref_bool_tag( 'etags_enabled' ) %></th>
		</tr>
		<tr>
			<th>production_mode</th>
			<td> </td>
			<th><%= dc_pref_bool_tag( 'production_mode' ) %></th>
		</tr>
		<tr>
			<th>dev_mode_ttl</th>
			<td> </td>
			<th><%= text_field_tag("preferences[dev_mode_ttl]", DC::Config[ :dev_mode_ttl ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>library_ttl</th>
			<td> </td>
			<th><%= text_field_tag("preferences[library_ttl]", DC::Config[ :library_ttl ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>statics_ttl</th>
			<td> </td>
			<th><%= text_field_tag("preferences[statics_ttl]", DC::Config[ :statics_ttl ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>stylez_ttl</th>
			<td> </td>
			<th><%= text_field_tag("preferences[stylez_ttl]", DC::Config[ :stylez_ttl ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>scriptz_ttl</th>
			<td> </td>
			<th><%= text_field_tag("preferences[scriptz_ttl]", DC::Config[ :scriptz_ttl ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>pages_ttl</th>
			<td> </td>
			<th><%= text_field_tag("preferences[pages_ttl]", DC::Config[ :pages_ttl ], :size => 50 )%></th>
		</tr>
		<tr>
			<th colspan="3">Content freshness:</th>
		</tr>
		<tr>
			<th>scriptz_fresh</th>
			<td> </td>
			<th><%= text_field_tag("preferences[scriptz_fresh]", DC::Config[ :scriptz_fresh ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>stylez_fresh</th>
			<td> </td>
			<th><%= text_field_tag("preferences[stylez_fresh]", DC::Config[ :stylez_fresh ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>statics_fresh</th>
			<td> </td>
			<th><%= text_field_tag("preferences[statics_fresh]", DC::Config[ :statics_fresh ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>library_fresh</th>
			<td> </td>
			<th><%= text_field_tag("preferences[library_fresh]", DC::Config[ :library_fresh ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>pages_fresh</th>
			<td> </td>
			<th><%= text_field_tag("preferences[pages_fresh]", DC::Config[ :pages_fresh ], :size => 50 )%></th>
		</tr>
		<tr>
			<th>dynamic_fresh</th>
			<td> </td>
			<th><%= text_field_tag("preferences[dynamic_fresh]", DC::Config[ :dynamic_fresh ], :size => 50 )%></th>
		</tr>
	</table>
	
	<br/>
	<%= submit_tag %>
	<br/><br/>

<% end %>	
</div>

<%= render 'sidebar' %>