<% content_for :dc_head do %>
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 49 ) %> einstellungen</h1>
	</div>
	<div class="fl_box_470">
	</div>
<% end %>

<div class="dc_box">
	
	<div class="dc_wbox head">
		<h2><%= t('dc.preferences.overview') %></h2>
		<div class="clearfix"></div>
	</div>
	<div class="dc_wbox form">
		
		<p><em>Hier eine kleine Übersicht der momentanen Einstellungen, ändern können Sie diese über das Menü auf der rechten Seite.</em></p>
		
		<hr/>
		<% if DC::Config[:site_name] && DC::Config[:site_name] != "DressCode-CMS" && DC::Config[:site_name] != "" %>
			<%=  dc_pref_line( 'site_name', raw( "<strong>#{ DC::Config[:site_name] }</strong>" ) )  %>
		<% else %>
			<%=  dc_pref_line( 'site_name', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		
		<% if DC::Config[:site_url] && DC::Config[:site_url] != "trendgegner.de" && DC::Config[:site_url] != "" %>
			<%=  dc_pref_line( 'site_url', raw( "<strong>#{ DC::Config[:site_url] }</strong>" ) )  %>
		<% else %>
			<%=  dc_pref_line( 'site_url', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		
		<hr/>
		<% if DC::Config[:analytics_key] && DC::Config[:analytics_key] != "UA-XXXXX-X" && DC::Config[:analytics_key] != "" %>
			<%=  dc_pref_line( 'analytics_key', raw( "<strong>O.K.</strong>" ) )  %><strong>O.K.</strong>
		<% else %>
			<%=  dc_pref_line( 'analytics_key', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		<% if DC::Config[:g_maps_key] && DC::Config[:g_maps_key] != "UA-XXXXX-X" && DC::Config[:g_maps_key] != "" %>
			<%=  dc_pref_line( 'g_maps_key', raw( "<strong>O.K.</strong>" ) )  %><strong>O.K.</strong>
		<% else %>
			<%=  dc_pref_line( 'g_maps_key', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		
		<hr/>
		
		<% if DC::Config[:facebook_app_id] && DC::Config[:facebook_app_id] != "UA-XXXXX-X" && DC::Config[:facebook_app_id] != "" %>
			<%=  dc_pref_line( 'facebook_app_id', raw( "<strong>#{ DC::Config[:facebook_app_id] }</strong>" ) )  %>
		<% else %>
			<%=  dc_pref_line( 'facebook_app_id', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		
		<hr/>
		<% if DC::Config[:company] && DC::Config[:company] != "Company" && DC::Config[:company] != "" %>
			<%=  dc_pref_line( 'company', raw( "<strong>#{ DC::Config[:company] }</strong>" ) )  %>
		<% else %>
			<%=  dc_pref_line( 'company', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		
		<% if DC::Config[:owner_firstname] && DC::Config[:owner_firstname] != "Firstname" && DC::Config[:owner_firstname] != "" %>
			<%=  dc_pref_line( 'owner_firstname', raw( "<strong>#{ DC::Config[:owner_firstname] }</strong>" ) )  %>
		<% else %>
			<%=  dc_pref_line( 'owner_firstname', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		
		<% if DC::Config[:owner_name] && DC::Config[:owner_name] != "Name" && DC::Config[:owner_name] != "" %>
			<%=  dc_pref_line( 'owner_name', raw( "<strong>#{ DC::Config[:owner_name] }</strong>" ) )  %>
		<% else %>
			<%=  dc_pref_line( 'owner_name', raw( "<span class='panic'>Achtung, nicht vergeben!</span>" ) )  %>
		<% end %>
		
		
		<br/>
		
		<% if current_user && site_master %>
		<hr/>
			<p><strong>Performance:</strong></p>
			<%=  dc_pref_line( 'cache_method', DC::Config[:cache_method] )  %>
			<%=  dc_pref_line( 'etags_enabled', DC::Config[:etags_enabled] )  %>
			<%=  dc_pref_line( 'compress_stylez', DC::Config[:compress_stylez] )  %>
			<%=  dc_pref_line( 'compress_scriptz', DC::Config[:compress_scriptz] )  %>
		
		
		<% end %>
		
		
		
		
		<div class="clearfix"></div>
	</div>
	<div class="dc_wbox buttons">

		<div class="clearfix"></div>
	</div>
	

</div>

<%= render 'sidebar' %>
