
<table>
	<thead>
		<tr>
			<th>Vorschau</th>
			<th>Name:</th>
			<th>filename</th>
			<th>filetype</th>
			<th>Bild ?</th>
			<th> </th>
			<th>Actions:</th>
		</tr>
	</thead>
	<tbody>
		<% @data_files.each do |data_file| %>
		<tr>
			<td>
				<% if data_file.image %>
					<% link_class = 'data_file_link' %>
					<% link_content = "<div class='pic_data_file'>#{ image_tag( data_file.file.thumb("120x120>").url(), :style => "margin-left: #{(130 - data_file.file.thumb("120x120>").width) / 2 }px; margin-top: #{(130 - data_file.file.thumb("120x120>").height) / 2}px;" ) }</div>" %>
				<% else %>
					<% link_class = 'data_file_link' %>
					<% link_content = "<div class='no_pic_data_file'>#{ data_file.file_ext }</div>" %>
				<% end %>
				
				<%= link_to( raw( link_content ), dcr_data_file_path( data_file ), :class => link_class ) %>
				
			</td>
			<td><%= data_file.name %></td>
			<td>
				<% if data_file.image %>
					<%= link_to 'LightBox', data_file.file.thumb("1200x700>").url(), :class => 'LightBox', :title => data_file.name %>
				<% else %>
					<%= link_to 'Download aktuell', data_file.file.url(), :title => data_file.name %><br/>
					<% if data_file.original_name && !data_file.original_name.blank? %>
						<%= link_to 'Download original', original_dc_data_file_path(data_file), :title => data_file.original_name %>
					<% end %>
				<% end %>
			</td>
			<td><%= data_file.file_ext %></td>
			<td><%= data_file.image ? 'ja' : 'nein' %></td>
			<td> </td>
			<td> ... </td>
		</tr>
		<% end %>
	</tbody>
</table>