<% content_for :dc_head do %>
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 47 ) %> speisekarten</h1>
	</div>
	<div class="fl_box_470">
	</div>
<% end %>

<%= render "dc/cartes/sidebar" %>


<div class="dc_box">
<%#= form_for( new_dc_carte_sub_carte_path( @carte, @sub_carte ) ) do |f| %>
<%= form_for( [ :dc, @carte, @sub_carte ] ) do |f| %>
	<%= f.error_messages %>
	<div class="dc_wbox head">
		<h2><%= t("dc.cartes.new") %></h2>
		<div class="clearfix"></div>
	</div>
	<div class="dc_wbox form">
		
		<%= render "dc/sub_cartes/form", :f => f %>
		
		<div class="clearfix"></div>
	</div>
	
	<div class="dc_wbox buttons">
		<%= f.submit %>
		<div class="clearfix"></div>
	</div>
	
<% end %>
</div>


