<%=   dc_pref_select_line( 'owner_type', CoreConfiguration::OWNER_TYPES.map {|c| [t("dc.config.owner_types.#{c}"),c]} )   %>
<hr/>
<%=   dc_pref_text_line( 'owner_name' )   %>
<%=   dc_pref_text_line( 'owner_firstname' )   %>
<hr/>
<%=   dc_pref_text_line( 'owner_street' )   %>
<%=   dc_pref_text_line( 'owner_zip' )   %>
<%=   dc_pref_text_line( 'owner_city' )   %>
<%=   dc_pref_text_line( 'owner_country' )   %>
<hr/>
<%=   dc_pref_text_line( 'owner_fon' )   %>
<%=   dc_pref_text_line( 'owner_fax' )   %>
<%=   dc_pref_text_line( 'owner_mobile' )   %>
<hr/>
<hr/>
<%=   dc_pref_text_line( 'company' )   %>
<%=   dc_pref_text_line( 'company_type' )   %>
<hr/>
<%=   dc_pref_text_line( 'company_street' )   %>
<%=   dc_pref_text_line( 'company_zip' )   %>
<%=   dc_pref_text_line( 'company_city' )   %>
<%=   dc_pref_text_line( 'company_country' )   %>
<hr/>
<%=   dc_pref_text_line( 'company_fon' )   %>
<%=   dc_pref_text_line( 'company_fax' )   %>
<%=   dc_pref_text_line( 'company_mail' )   %>
<hr/>
<%=   dc_pref_text_line( 'tax_number' )   %>
<%=   dc_pref_text_line( 'law_state' )   %>

<div class="clearfix"></div>



