<%=   dc_pref_bool_line( 'compress_stylez' )   %>
<%=   dc_pref_bool_line( 'compress_scriptz' )   %>
<hr/>
<%=   dc_pref_select_line( 'cache_method', CoreConfiguration::CACHE_TYPES.map {|c| [t("dc.config.cache_methods.#{c}"),c]} )   %>
<hr/>
<%=   dc_pref_bool_line( 'etags_enabled' )   %>
<%=   dc_pref_bool_line( 'cache_statics' )   %>
<hr/>
<%=   dc_pref_bool_line( 'production_mode' )   %>
<%=   dc_pref_text_line( 'dev_mode_ttl' )   %>
<hr/>
<%=   dc_pref_bool_line( 'varnish_enabled' )   %>
<hr/>
<%=   dc_pref_text_line( 'stylez_fresh' )   %>
<%=   dc_pref_text_line( 'scriptz_fresh' )   %>
<%=   dc_pref_text_line( 'statics_fresh' )   %>
<%=   dc_pref_text_line( 'library_fresh' )   %>
<%=   dc_pref_text_line( 'pages_fresh' )   %>
<%=   dc_pref_text_line( 'dynamic_fresh' )   %>
<hr/>
<%=   dc_pref_text_line( 'stylez_ttl' )   %>
<%=   dc_pref_text_line( 'scriptz_ttl' )   %>
<%=   dc_pref_text_line( 'statics_ttl' )   %>
<%=   dc_pref_text_line( 'library_ttl' )   %>
<%=   dc_pref_text_line( 'pages_ttl' )   %>
<%=   dc_pref_text_line( 'dynamic_ttl' )   %>
<br/>
<div class="clearfix"></div>

