<%=   dc_pref_text_line( 'meta_keywords' )   %>

<%=   dc_pref_text_line( 'meta_description' )   %>

<%=   dc_pref_text_line( 'meta_author' )   %>

<%=   dc_pref_text_line( 'meta_app' )   %>

<%=   dc_pref_text_line( 'meta_generator' )   %>

<%=   dc_pref_text_line( 'meta_publisher' )   %>

<%=   dc_pref_text_line( 'meta_creator' )   %>


<div class="clearfix"></div>
