<%=   dc_pref_text_line( 'site_name' )   %>
<%=   dc_pref_text_line( 'site_url' )   %>
<hr>
<%=   dc_pref_text_line( 'pretty_namespace' )   %>
<hr/>
<%=   dc_pref_bool_line( 'always_put_site_name_in_title' )   %>
<%=   dc_pref_bool_line( 'put_site_name_bevore_title' )   %>
<%=   dc_pref_text_line( 'title_seperator' )   %>
<hr/>
<%=   dc_pref_bool_line( 'invite_only_site' )   %>
<hr/>


<div class="clearfix"></div>
