<% content_for :dc_head do %>
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 49 ) %> einstellungen</h1>
	</div>
	<div class="fl_box_470">
		
	</div>
<% end %>

<div class="dc_box">
	<%= form_tag change_dc_settings_path( @config, @name ) do -%>
		<%#= hidden_field_tag('name', @name, :size => 50 ) %>
	
	<div class="dc_wbox head">
		<h2><%= DC::Config.instance.class.to_s.gsub(/Configuration/, '') %> - API's</h2>
		<div class="clearfix"></div>
	</div>
	<div class="dc_wbox form">
		
		<%=   dc_pref_text_line( 'analytics_key' )   %>
		<br/>
		<%=   dc_pref_text_line( 'g_maps_key' )   %>
		
		
		<br/>
		<br/>
		<%=   dc_pref_text_line( 'facebook_app_id' )   %>
		
		
		<div class="clearfix"></div>
	</div>
	<div class="dc_wbox buttons">
		<%= submit_tag %>
		<div class="clearfix"></div>
	</div>
	
	<% end %>
</div>


<%= render 'dc/settings/sidebar' %>
