
<div class="foot_box">
	<%= link_to dc_footer_icon( 49 ), dcr_pages_path, 
			:class => "foot_box #{'aktiv' if controller.controller_name == 'pages'}",
			:title => 'Seiten' %>
	<div class="sub_foot_box">
		<% Page.all.each do |p| %>
			<%= link_to dc_subfooter_icon(48)+raw("<strong> #{p.name}</strong>"), [:dcr, p], :class => 'sub_foot' %>
		<% end %>
	</div>
</div>

<div class="foot_box">
	<%= link_to dc_footer_icon( 42 ), dcr_users_path, 
			:class => "foot_box #{'aktiv' if controller.controller_name == 'users'}",
			:title => 'Benutzer' %>
</div>

<div class="foot_box">
	<%= link_to dc_footer_icon( 61 ), dcr_data_files_path, 
			:class => "foot_box #{'aktiv' if controller.controller_name == 'data_files'}",
			:title => 'Dateien' %>
</div>

<div class="foot_box">
	<%= link_to dc_footer_icon( 54 ), dc_settings_path, 
			:class => "foot_box #{'aktiv' if controller.controller_name == 'settings'}",
			:title => 'Einstellungen' %>
	<div class="sub_foot_box">
		<%= link_to dc_subfooter_icon(54)+' Core - 1', dcr_settings_path+ '/core_one', :class => "sub_foot" %>
		<%= link_to dc_subfooter_icon(54)+' Core - 1 :: edit', dcr_settings_path+ '/core_one/edit', :class => "sub_foot" %>
	</div>
</div>



<div id="user_foot">
	<% if user_check %>
		<%= link_to current_user.email, '#', :id => 'user_button' %>
		<div class="sub_user_foot_box">
			<%= link_to 'Abmelden', destroy_user_session_path, :method => :delete, :class => 'sub_foot' %>
		</div>
	<% end %>
</div>