<div class="LB_Box">
<%= form_for [:dc, @twidget] do |f| %>
  <%= f.error_messages %>
	
	<div class="field">
		<div class="fl_box_110">
			<%= f.label :name %>
		</div>
		<div class="fl_box_350">
			<%= f.text_field :name %>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="field">
		<div class="fl_box_110">
			<%= f.label :description, 'Beschreibung' %>
		</div>
		<div class="fl_box_350">
			<%= f.text_area :description, :rows => 5 %>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="field">
		<div class="fl_box_110">
			<%= f.label :widget_count %>
		</div>
		<div class="fl_box_350">
			<%= f.select(:widget_count, options_for_select(Twidget::COUNT.map{ |c| [t("element_count.#{c}"), c] }) ) %>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="field">
		<div class="fl_box_110">
			<%= f.label :widget_layout %>
		</div>
		<div class="fl_box_350">
			<%= f.text_field :widget_layout %>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="field">
		<div class="fl_box_110">
			&nbsp;
		</div>
		<div class="fl_box_350">
			<%= f.submit %>
		</div>
		<div class="clearfix"></div>
	</div>

<% end %>
</div>