<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="de"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="de"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="de"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
<head>
	<%= render "shared/site_parts/meta" %>
	<%= render "shared/site_parts/csrf" %>
	
	<%= stylesheet_link_tag    "/pipe/styles/dc/libs" %>
	
	<%= piped_js_lib('modernizr206') %>
	
	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js' %>
	<script>window.jQuery || document.write('<script src="/pipe/script/library/jquery"><\/script>')</script>
	
	<%= piped_js_lib('view', 'ujs') %>
		
	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
	
	<%= javascript_include_tag "/pipe/script/dc_libs" %>
	
	<%= yield(:head) %>
</head>
<body>
	
	
<% if current_user %>
<style>
#main_content { padding: 0;}
.on_off_schalter { width: 114px; height:26px; display:block; position:relative; background: transparent url('/images/strange_on_off_regler_k.png') no-repeat; border: solid 1px #aaa; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; overflow: hidden; cursor: pointer;}
.on_off_schalter.an { background-position: 0px 0px; }
.on_off_schalter.aus { background-position: -76px 0px; }
</style>

<div id="system_content" class="<%= @page ? 'page' : 'dc' %>">
	<% if @page %>
		<%= render "shared/site_parts/flash", :flash => flash %>
		<%= render 'static/layouts/page_layout' %>
	<% else %>
	<div id="main_content" class="dc">
		<div id="dialog_box"></div>
		<%= render "shared/site_parts/flash", :flash => flash %>
		<div class="container_48"><%# id="dc_system_content" %>
			<%= content_tag :h1, yield(:title) if show_title? %>
			<%= yield %>
		</div>
	</div>
	<% end %>
</div>
<div id="system_sidebar">
	<div class="sideHead">
		<strong><%= controller.class.to_s.gsub(/Controller/, '') %></strong> => <%= controller.action_name %>
	</div>
	<div id="system_side_nav">
		<%= render themed_path('xchange/system_sidebar') %>
	</div>
</div>
<div class="clearfix"></div>
<div id="system_footer">
	<nav id="system_foot_nav">
		<%= render themed_path('xchange/system_footer') %>
	</nav>
</div>

<% else %>
<style>
html{ overflow-y:scroll;}
#main_content { padding: 0;}
</style>
<%= hook :site_headline %>
<div id="main_content">
	<div id="dialog_box"></div>
	<%= render "shared/site_parts/flash", :flash => flash %>
	<%= content_tag :h1, yield(:title) if show_title? %>
	
	<%= yield %>
</div>
	
<% end %>

<%= render "shared/site_parts/analytics" %>
<%= render "shared/site_parts/chromeframe" %>
</body>
</html>
