<% if DC::Config[:theme_type] == 'dynamic' %>
	<div class="foot_box">
		<%= link_to dc_footer_icon( 76 ), dc_tlayouts_path, 
			:class => "foot_box #{'aktiv' if controller.controller_name == 'tlayouts'}",
			:title => 'Templates'  %>
		<div class="sub_foot_box">
			<% Tlayout.all.each do |l| %>
				<%= link_to l.name, [:dc, l], :class => 'sub_foot' %>
			<% end %>
		</div>
	</div>


	<div class="foot_box">
	<%= link_to dc_footer_icon( 80 ), dc_rasters_path, 
			:class => "foot_box #{'aktiv' if controller.controller_name == 'rasters'}",
			:title => 'Raster'  %>
		<div class="sub_foot_box">
			<% Raster.all.each do |r| %>
				<%= link_to r.name, [:dc, r], :class => 'sub_foot' %>
			<% end %>
		</div>
	</div>

	<div class="foot_box">
		<%= link_to dc_footer_icon( 40 ), dc_tag_lists_path, 
				:class => "foot_box #{'aktiv' if controller.controller_name == 'tag_lists'}",
				:title => 'Tag´s' %>
	</div>

	<div class="foot_box">
		<%= link_to dc_footer_icon( 39 ), dc_twidgets_path, 
				:class => "foot_box #{'aktiv' if controller.controller_name == 'twidgets'}",
				:title => 'Template-Widgets' %>
	</div>
<% end %>
