<%= form_for [:dc, @style_class] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :the_group %><br />
    <%= f.text_field :the_group %>
  </p>
  <p>
    <%= f.label :the_style %><br />
    <%= f.text_area :the_style %>
  </p>
  <p><%= f.submit %></p>
<% end %>
