<div class="LB_Box dc_user_form">
	
	<h2><%= t("dc.users.account.change_account") %></h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		<%= devise_error_messages! %>
		
		<div class="lb_field">
			<% if DC::Config[:show_form_text] %><%= f.label :salutation, t("dc.users.form.salutation") %><br/><% end %>
			<%= f.select :salutation, User::USER_TYPIES.map { |c| [I18n.t(c), c] }, :include_blank => t("dc.users.form.salutation") %>
		</div>
		
		<div class="lb_field">
			<% if DC::Config[:show_form_text] %><%= f.label :first_name, t('dc.users.form.first_name') %><br /><% end %>
			<%= f.text_field :first_name, :placeholder => t('dc.users.form.first_name') %>
		</div>
		
		<div class="lb_field">
			<% if DC::Config[:show_form_text] %><%= f.label :last_name, t('dc.users.form.last_name') %><br /><% end %>
			<%= f.text_field :last_name, :placeholder => t('dc.users.form.last_name') %>
		</div>
		
		<div class="lb_field">
			<% if DC::Config[:show_form_text] %><%= f.label :email, t('dc.users.form.email') %><br /><% end %>
			<%= f.text_field :email, :placeholder => t('dc.users.form.email') %>
		</div>
		<div class="lb_field">
			<%= f.label :image, t('dc.users.form.image') %>
			<%= f.file_field :image, :placeholder => t('dc.users.form.image') %>
		</div>
		
		<p class="field_help"><%= t("dc.users.account.password_change.leave_blank_if_you_don_want_to_change_it") %></p>
		<div class="lb_field">
			<%= f.label :password, t('dc.users.form.new_password') %>
			<%= f.password_field :password, :placeholder => t('dc.users.form.new_password') %>
		</div>
		<div class="lb_field">
			<%= f.label :password_confirmation, t('dc.users.form.new_password_confirmation') %>
			<%= f.password_field :password_confirmation, :placeholder => t('dc.users.form.new_password_confirmation') %>
		</div>
		<p class="field_help"><%= t("dc.users.account.password_change.we_need_your_current_password_to_confirm_your_changes") %></p>
		<div class="lb_field">
			<%= f.label :current_password, t('dc.users.form.current_password') %>
			<%= f.password_field :current_password, :placeholder => t('dc.users.form.current_password') %>
		</div>
		
		<br/>
		
		<div class="lb_field action">
			<%= f.submit t("dc.users.account.send_changed_password") %>
			<div class="clearfix"></div>
		</div>
		
		
	<% end %>
	
	<hr/>
		
	<div class="lb_field">
		<h3><%= t("dc.users.account.cancel_my_account") %>:</h3>
		<p><%= t("dc.users.account.unhappy") %></p>
		<%= link_to t("dc.users.account.cancel_my_account"), registration_path(resource_name), 
						:confirm => t("dc.users.account.confirm_account_delete"), :method => :delete, :class => 'big_button' %>
		<%= link_to t('back'), :back, :class => 'big_button' %>
		<div class="clearfix"></div>
		<br/><br/>
	</div>
	
	
	<div class="clearfix"></div>
</div>
