<style>


#sortable_page_list { list-style:none; margin:0; padding:0; }

#sortable_page_list li ol { list-style:none;  margin:0; padding: 0 0 0 30px; }

#sortable_page_list .ui-sortable-placeholder { border: dotted 2px #c00; background: #f8fc00; visibility: visible !important; margin: 0 0 10px; opacity: .50; }

#sortable_page_list .ui-sortable-placeholder.with_error { border: dotted 2px #c00; background: #c00; visibility: visible !important; margin: 0 0 10px; opacity: .50; }

#sortable_page_list ol { list-style:none; margin: 0; padding: 5px; }

.sortable_list_entry { width: 350px; padding: 0 30px; display: block; cursor:move; border: solid 1px transparent; }
.sortable_list_entry:hover { background: #f3f2f2; border: solid 1px #ccc; }

#sortable_page_list .sub_icon_field { display: none; }
#sortable_page_list li ol .sub_icon_field { display: block; }

</style>

<% title "Pages" %>

<hr/>

<%# for page in @pages %>
	<%#= render 'dc/pages/lists/page', :page => page %>
<%# end %>

<ol id="sortable_page_list">
	<% for page in @pages %>
		<%= render 'dc/pages/lists/page_list', :page => page %>
	<% end %>
</ol>

<hr/>
<!--
<div class="box" id="serializeOutput"></div>
<hr/>
<div class="box" id="serializeOutput2"></div>
<hr/>
<div class="box" id="serializeOutput3"></div>
<hr/>
<div class="box" id="serializeOutput4"></div>
-->
<div class="box">
	<%= link_to 'senden', '#', :id => "send_sorted_list", :class => 'big_submit_button hidden' %>
	<div class="clearfix"></div>
</div>

<% content_for :sidebar do %>
	<%= render 'dc/pages/sidebar' %>
<% end %>





<script type="text/javascript">
jQuery(function($) {
	
	$('#sortable_page_list').nestedSortable({
		disableNesting: 'no-nest',
		listType: 'ol',
		items: 'li',
		maxLevels: 3,
		errorClass: 'with_error',
		update: function(){ $('#send_sorted_list').hide().removeClass('hidden').fadeIn() }
	});
	
	$('#send_sorted_list').click(function(event){
		event.preventDefault();
		var page_data = JSON.stringify( $('#sortable_page_list').nestedSortable('toHierarchy', {startDepthCount: 0}) );
		$.ajax({
			type: 'post', 
			data: 'authenticity_token='+AUTH_TOKEN+'&pages='+ page_data, 
			dataType: 'script',
			complete: function(request){
				window.location = "<%= dcr_pages_path %>";
			},
			url: "<%= reorder_pages_dc_pages_path %>"
		});
	});
	
});
/*
	$('#send_sorted_list').click(function(e){
		e.preventDefault();
		var serialized = $('#sortable_page_list').nestedSortable('serialize');
		
		var hiered = JSON.stringify( $('#sortable_page_list').nestedSortable('toHierarchy', {startDepthCount: 0}) );
		var ohiered = $('#sortable_page_list').nestedSortable('toHierarchy', {startDepthCount: 0});
		var arraied = JSON.stringify( $('#sortable_page_list').nestedSortable('toArray', {startDepthCount: 0}) );
		var dhiered = dump(ohiered);
		var data = { pages: hiered.replace(/"/g,'') };
		$('#serializeOutput').text(serialized+'\n\n');
		$('#serializeOutput2').text(hiered+'\n\n');
		$('#serializeOutput3').text(dhiered+'\n\n');
		$('#serializeOutput4').text( jQuery.param( hiered.replace(/"/g,'') )  );
		
		$.ajax({
			type: 'post', 
			data: 'authenticity_token='+AUTH_TOKEN+'&pages='+ hiered, 
			dataType: 'script',
			complete: function(request){
				window.location = "<%= dcr_pages_path %>";
			},
			url: "<%= reorder_pages_dc_pages_path %>"
		});
	});
    function dump(arr,level) {
        var dumped_text = "";
        if(!level) level = 0;
        //The padding given at the beginning of the line.
        var level_padding = "";
        for(var j=0;j<level+1;j++) level_padding += "";
        if(typeof(arr) == 'object') { //Array/Hashes/Objects
            for(var item in arr) {
                var value = arr[item];
                if(typeof(value) == 'object') { //If it is an array,
                    dumped_text += level_padding + "[" + item + "]=";
                    dumped_text += dump(value,level+1);
                } else {
                    dumped_text += level_padding + "[" + item + "] => \"" + value + "\"&";
                }
            }
        } else { //Strings/Chars/Numbers etc.
            dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
        }
        return dumped_text;
    }
*/	
</script>
