<% content_for :dc_head do %>
	
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 42 ) %> userverwaltung</h1>
	</div>
	
	<div class="fl_box_470">
		
	</div>
	
<% end %>


<div class="dc_box">
	<div class="dc_table_head">
		<div class="grid_2">
			&nbsp;<%#= dc_icon( :icon => 42 ) %>
		</div>
		
		<div class="fl_box_230">
			Vorname, Name
		</div>
		<div class="fl_box_230">
			E-Mail
		</div>
		<div class="fl_box_110">
			
		</div>
		
		<div class="clearfix"></div>
	</div>
	
	<% @users.each do |user| %>
		<div class="dc_table_row" id="<%= dom_id(user)%>">
			<div class="row_head">
				<div class="grid_2">
					<%= dc_icon( :icon => 42 ) %>
				</div>
				<div class="fl_box_210">
					<%= user.first_name+' '+user.last_name %>
				</div>
				<div class="fl_box_230">
					<%= user.email %>
				</div>
				<div class="fl_box_110">
					<%= user_rang(user) %>
				</div>
				<div class="grid_1">
					<%= user.confirmed_at ? raw("<div class='active_dot'></div>") : raw("<div class='inactive_dot'></div>") %>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="clearfix"></div>
		</div>
	<% end %>
</div>



<% content_for :sidebar do %>

	<%= dc_aside_box( 'User', "aktiv" ) do %>
		<%= link_to raw('Userverwaltung'), dcr_users_path, :class => "#{controller.action_name == 'index' ? 'aktiv' : ' '}" %>
		<%= link_to raw('User einladen'), new_user_invitation_path  %>
	<% end %>

<% end %>