<div class="LB_Box">
<%= form_for(@page) do |f| %>
	
	<%= f.error_messages %>
	<div class="field">
		<div class="fl_box_110">
			<%= f.label :name %>
		</div>
		<div class="fl_box_350">
			<%= f.text_field :name %>
		</div>
		<div class="clearfix"></div>
	</div>

	
	<div class="field">
		<div class="fl_box_110">
			<%= f.label :tlayout %>
		</div>
		<div class="fl_box_350">
			<%= f.select :tlayout_id, options_for_select( Tlayout.all.map { |c| [c.name, c.id.to_i] })  %>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<br/>
	
	<div class="actions">
		<div class="fl_box_110">
			&nbsp;
		</div>
		<div class="fl_box_150">
			<%= f.submit %>
		</div>
		<div class="clearfix"></div>
	</div>
	
<% end %>
</div>