<% title "Edit Page" %>

<div id="page_content" class="dc_editor-region" data-type="editable">
    <%= raw( @page.text_content)%>
</div>

<% content_for :sidebar do %>
	<h1>Seite bearbeiten</h1>
	<%= link_to "'#{@page.name}' - Anzeigen", @page %>
	<%= link_to 'Alle Seiten', pages_path %>
	<%= link_to "Edittor", "/editor" + request.path, :id => "Mercury_edit_link", 
				:data => { :save_url => mercury_update_page_path( @page ) } %>
	<br/>
	<h3>Info</h3>
	<%= form_for(@page) do |f| %>
		<%= f.error_messages %>
		
		<%= f.label :name, "Name:" %><br/>
		<%= f.text_field :name, :class => 'in_aside' %>
		
		<br/>
		<br/>

		<br/>
		<br/>
		<br/>
		
		<%= f.submit ' update! ' %>
	<% end %>
<% end %>