<p><%= t('dc.users.login.hello_user') %> <%= @resource.email %>!</p>

<p><%= t("dc.users.mailer.someone_requested_a_password_change") %></p>
<br/>
<p><%= link_to t('dc.users.mailer.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<br/>
<p><%= t("dc.users.mailer.didn_t_request_this") %></p>
<p><%= t("dc.users.mailer.password_won_t_change_until_link") %></p>
