<div id="main_content" class="public">
	<div class="clearfix"></div>
	<% if 3 == 4 %>
		<div id="dialog_box"></div>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		<%= content_tag :h1, yield(:title) if show_title? %>
	<% end %>
	
	<noscript>
		<div class="nojs_alert_box">
			<div class="container_48">
				<div class="fl_box_950">
					<h3>Achtung! Bitte aktivieren Sie JavaScript, dies ist Vorraussetzung für alle erweiterten Funktionen!!!</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</noscript>
	
	<%= render 'static/parts/header' %>
	
	<div class="clearfix"></div>
	
	<div class="container_48">
		<div id="the_headline">
			<% if @page && @page.the_headline %>
				<h1><%= @page.the_headline %></h1>
			<% end %>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<div id="dc_page">
		<div class="container_48">
			<div class="fl_box_950">
				<%= yield %>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	
	<br/>
	
	<div id="dc_footer">
		<div class="container_48">
			<div class="fl_box_310">
				FOOTER
			</div>
			<div class="fl_box_310">
				FOOTER
			</div>
			<div class="fl_box_310">
				FOOTER
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<div class="clearfix"></div>
</div>