<div class="LB_Box dc_user_form">
	
	<div class="lb_field action">
		<%= dc_icon( :icon => 37, :size => 48, :color => 'hell' ) %>
	</div>
	
	<br/>
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		
		<div class="lb_field login">
			<%= f.label :email, t('dc.users.login.email') %><br />
			<%= f.text_field :email, :placeholder => t('dc.users.form.email') %>
		</div>
		
		<div class="lb_field login">
			<%= f.label :password, t('dc.users.login.password') %><br />
			<%= f.password_field :password, :placeholder => t('dc.users.form.password') %>
		</div>
		
		
		<div class="lb_field action">
			<% if devise_mapping.rememberable? -%>
				<div><%= f.check_box :remember_me %> <%= f.label :remember_me, t("dc.users.login.remember_me") %></div>
			<% end -%>
		</div>
		
		<div class="lb_field action">
			<%= f.submit t("dc.users.login.submit") %>
			<div class="clearfix"></div>
		</div>
		
	<% end %>
	<br/>
	
	<div class="lb_field action">
		<%= render :partial => "devise/shared/links" %>
		<div class="clearfix"></div>
	</div>
	
</div>

