<% content_for :dc_head do %>
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 49 ) %> <%= t("dc.headers.headline").downcase %></h1>
	</div>
	<div class="fl_box_470 rtext">
		<select id="header_chooser">
			<% Header.all.each do |head| %>
				<option value="<%= head.id %>"><%= head.name %></option>
			<% end %>
		</select>
	</div>
<% end %>

<div class="dc_box">
<%= form_for( [ :dc, @header ] ) do |f| %>
	<%= f.error_messages %>
	<div class="dc_wbox head">
		<h2><%= t("dc.headers.edit") %></h2>
		<div class="clearfix"></div>
	</div>
	<div class="dc_wbox form">
		
		<%= render "dc/headers/form", :f => f %>
		
		<div class="clearfix"></div>
	</div>
	
	<div class="dc_wbox buttons">
		<%= f.submit %>
		<div class="clearfix"></div>
	</div>
	
<% end %>
</div>




<%= render 'sidebar' %>

