<div class="LB_Box">
<%= form_for( [ :dc, @data_file ] ) do |f| %>
	<%= f.hidden_field :author, :value => current_user.id if current_user %>
	<%= f.hidden_field :name, :value => @data_file.name %>
	<%= f.error_messages %>
	<div class="field">
		<div class="470">
			<h3>
				Bitte wählen Sie eine Datei von Ihrem Rechner aus, um diese Hochzuladen.
			</h3>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="field">
		<div class="fl_box_110">
			<%= f.label :file, 'Datei:' %>
		</div>
		<div class="fl_box_350">
			<%= f.file_field :file %>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<br/>
	
	<div class="actions">
		<div class="fl_box_110">
			&nbsp;
		</div>
		<div class="fl_box_150">
			<%= f.submit %>
		</div>
		<div class="clearfix"></div>
	</div>
	
<% end %>
</div>