<div class="LB_Box dc_user_form">

	<h2><%= t('dc.users.account.change_your_password') %></h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		<%= devise_error_messages! %>
		
		<%= f.hidden_field :reset_password_token %>
		
		<div class="lb_field">
			<%= f.label :password, t('dc.users.form.new_password') %>
			<%= f.password_field :password, :placeholder => t('dc.users.form.new_password') %>
		</div>
		<div class="lb_field">
			<%= f.label :password_confirmation, t('dc.users.form.new_password_confirmation') %>
			<%= f.password_field :password_confirmation, :placeholder => t('dc.users.form.new_password_confirmation') %>
		</div>
		
		<br/>
		
		<div class="lb_field action">
			<%= f.submit t("dc.users.account.send_changed_password") %>
			<div class="clearfix"></div>
		</div>

		<% end %>
	
	<br/>
	
	<div class="lb_field action">
		<%= render :partial => "devise/shared/links" %>
		<div class="clearfix"></div>
	</div>

</div>
