<div class="LB_Box dc_user_form">
	
	<h2><%= t('dc.users.account.Forgot_your_password') %></h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<%= devise_error_messages! %>
		
		
		<div class="lb_field">
			<% if DC::Config[:show_form_text] %><%= f.label :email, t('dc.users.form.email') %><br /><% end %>
			<%= f.text_field :email, :placeholder => t('dc.users.form.email') %>
		</div>
		
		<br/>
		
		<div class="lb_field action">
			<%= f.submit t("dc.users.account.Send_me_reset_password_instructions") %>
			<div class="clearfix"></div>
		</div>

	<% end %>
	
	<br/>
	
	<div class="lb_field action">
		<%= render :partial => "devise/shared/links" %>
		<div class="clearfix"></div>
	</div>
	
</div>
